@model TicketSystem.Models.Ticket
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<p>
    Are you sure you want to delete this ticket?
</p>
<ul>
    <li>Title: @Model.Title</li>
    <li>Description: @Model.Description</li>
    <li>Status : @Model.Status</li>
</ul>

@using (Html.BeginForm("DoDelete", "Ticket", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ID)
    <input type="submit" class=" btn btn-danger" value="Yes Delete it!" />
    @Html.ActionLink("No, back to tickets", "Index")
}
