@model TicketSystem.Models.Ticket
@{
    ViewBag.Title = "TicketDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ticket Details</h2>
<ul>

    <li>Title: @Model.Title</li>

    <li>Status: @Model.Status</li>

    <li>Date Created: @Model.Date</li>

    <li>Description:</li>
    <li>@Model.Description</li>

    <li>Under Email: @Model.Email</li>
    @if (Model.ScheduledDay != null || Model.ScheduledTime != null)
    {
        <li>Scheduled at: @Model.ScheduledDay  @Model.ScheduledTime</li>
    }
    @if (Model.CustomerResponse != null)
    {
        <li>Customer Response: @Model.CustomerResponse </li>
    }
    @if (Model.EmployeeResponse != null)
    {
        <li>Employee Response: @Model.EmployeeResponse </li>
    }

    @Html.ActionLink("Back to Tickets", "Index")

</ul>

